.haztupedido {margin-bottom: 20px;}
.haztupedido a {font-size: 1em; padding: 10px 4rem; text-align: center; display: inline-block; text-decoration: none !important; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;}
.haztupedido a i {margin-right: 8px; font-size: 1.5em; }
.haztupedido a > span {display: inline-block;}